.subscribe-container {
  height: 100vh;
  background-color: $secondary-background;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .subscribe {
    width: 70%;
    padding: 4rem 1rem;
    // background-color: crimson;
    background-image: linear-gradient(to top right, $green, rgb(0, 204, 255));
    border-radius: 70px;

    h3 {
      text-align: center;
      margin-bottom: 4rem;
      font-size: 2rem;
      color: white;
    }

    .input-box {
      margin: 0 auto;
      width: fit-content;
      background-color: white;
      border-radius: 10px;
      padding: 0.7rem 1rem;

      i {
        color: #555;
        font-size: 1.2rem;
        margin-right: 0.5rem;
        // border: 1px solid red;
      }

      input {
        max-width: 300px;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin-right: 0.5rem;
        font-size: 1.1rem;
        color: #555;
      }
    }
    .btn-container {
      // border: 2px solid white;
      text-align: center;
      margin-top: 2rem;

      button {
        // border: 1px solid blue;
        outline: none;
        border-radius: 5px;
        background-color: crimson;
        color: white;
        padding: 8px 30px;
        font-size: 1.3rem;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: rgb(190, 10, 46);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .subscribe-container {
    .subscribe {
      border-radius: 50px;

      h3 {
        font-size: 1.6rem;
      }
    }
  }
}
