.vari-container {
  display: flex;
  padding: 0 2rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .right {
    flex: 1;
    padding-left: 2rem;

    span {
      color: $green;
      background-color: $green-secondary;
      border: none;
      border-radius: 30px;
      padding: 5px 10px;
      font-size: 0.8rem;
    }

    h2 {
      font-size: 3rem;
      font-family: 'Bitter', serif;
      margin-top: 1rem;
    }

    .p-right {
      margin: 1.5rem 0;
      width: 80%;

      p {
        color: $secondary-font;
      }
    }

    .btn-container {
      display: flex;
      align-items: center;
    }
  }

  .left {
    flex: 1;

    .img {
      transform: scaleX(-1);
    }
  }
}

@media (max-width: 900px) {
  .hero-container {
    display: flex;
    padding: 0 2rem;
    flex-direction: column-reverse;

    .right {
      margin: 2rem 0;

      h2 {
        font-size: 3rem;
      }
    }

    .left {
      width: 100%;
      margin-top: 200px;

      .img-container {
        width: 70vw;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero-container {
    .right {
      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 0.8rem;
      }
    }
  }
}
