$secondary-background: rgb(245, 247, 252);
$secondary-font: #777;

$light-green: rgb(51, 211, 51);
$green: rgb(0, 173, 0);
$green-secondary: rgb(221, 255, 221);
$green-third: rgb(124, 255, 124);

//00ad00
